<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kickball Site</title>
  <link rel="stylesheet" href="home.css">
</head>
<body>
  <h3>Cartoon Kickball League</h3>
  <ol>
    <% teams.keys.each do |team| %>
    <li><a href="/teams/<%= team %>"><%= team %></a></li>
    <% end %>
  </ol>
  <h3>Position Listings</h3>
  <ul>
    <% teams[teams.keys[0]].keys.each do |position| %>
    <li><a href="/positions/<%= position %>"><%= position %></a></li>
    <% end %>
</body>
</html>
